:root {
    --Lime-Green: hsl(163, 72%, 41%);
    --Bright-Red: hsl(356, 69%, 56%);
    --Facebook: hsl(208, 92%, 53%);
    --Twitter: hsl(203, 89%, 53%);
    --Instagram1: linear gradient hsl(37, 97%, 70%);
    --Instagram2: linear gradient hsl(329, 70%, 58%);
    --YouTube: hsl(348, 97%, 39%);
    --Dark-Grayish-Blue: hsl(228, 12%, 44%) /* Text */
}
* {
    box-sizing: 0;
    font-family: 'Inter', sans-serif;
}
.wrapper{
    padding: 0 30px;
}
.grid{
    display: grid;
    grid-row-gap: 30px;
}
.card {
    border-radius: 8px;
    overflow: hidden;
    background: #f0f3fa;
    text-align: center;
}
.card-title {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--Dark-Grayish-Blue);
    font-size: .9em;
    font-weight: bold;
}
.card-title img {
    margin-right: 5px;
}
.card::before{
    content: '';
    height: 4px;
    display: block;
    background:var(--Facebook);
}
.card-followers{

}
.card-followers-number{
    font-size: 50px;
    font-weight: 700;
}
.card-followers-title{
    display: block;
    text-transform: uppercase;
    color: var(--Dark-Grayish-Blue);
    letter-spacing: 4px;
    font-size: .7em;
}
.card-today{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    color: var(--Lime-Green);
    font-size: .7em;
    font-weight: bold;
}
.card-today img {
    margin-right: 5px;
}

